// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// JPRIME Brand Colors
$primary: #c8102e;
$danger: #c8102e;

// Cards
$card-border-color: #eeeeee;
$breadcrumb-divider-color: #ffffff;
